{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="home" data-aos="fade-up" data-aos-duration="3000">


<span id="textslide1">"THINK MORE, DESIGN LESS"</span>
<span id="nomslide1">Ellen Lupton</span>
<div id="cercle1"><span id="textc1">About</span></div>
<div id="cercle2"><span id="textc2">Projects</span></div>
<div id="cercle3"><span id="textc3">Hopes</span></div>
<div id="cercle4"><span id="textc4">Contact</span></div>

</div>

{% endblock %}
