{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="home">


<span id="textslide1" data-aos="fade-up" data-aos-duration="2000">"THINK MORE, DESIGN LESS"</span>
<span id="nomslide1"  data-aos="fade-up" data-aos-duration="2000">Ellen Lupton</span>
<div id="cercle1" data-aos="fade-up"  data-aos-delay="100" data-aos-duration="3000"><span id="textc1">About</span></div>
<div id="cercle2" data-aos="fade-up"  data-aos-delay="200" data-aos-duration="3000"><span id="textc2">Projects</span></div>
<div id="cercle3" data-aos="fade-up"  data-aos-delay="300" data-aos-duration="3000"><span id="textc3">Goals</span></div>
<div id="cercle4" data-aos="fade-up"  data-aos-delay="400" data-aos-duration="3000"><span id="textc4">Contact</span></div>

</div>

{% endblock %}
