<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/grid/simple-grid.min.css">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/lightbox.css">
  <script src="/js/jquery-3.4.1.min.js"></script>
  <script src="/js/lightbox.min.js"></script>
  <link rel="stylesheet" href="/css/acc.style.css">
  <script src="https://kit.fontawesome.com/6903be4fcd.js"></script>

  <title>Document</title>
</head>

<body>  {% set url = path('home') %}
    <a href="{{ url }}"><span style="position:absolute; z-index:300; text-decoration:none; color:red;">Retour</span></a> 

  <div class="menu">

    <ul>
      <li><a href="#slide1">HOME</a> </li>
      <li><a href="#slide2">KEY FEATURES</a> </li>
      <li><a href="#slide3">GALLERY</a></li>
      <li><a href="#slide4">SYSTEM REQUIREMENTS</a></li>
      <li><a href="#slide5">ROADMAP</a></li>
      <li><a href="#slide6">BUY NOW</a></li>
    </ul>
  </div>
  <div id="slide1">



    <div id="logo"></div>
    <div class="burger">
      <div class="lignes"></div>
      <div class="lignes"></div>
      <div class="lignes"></div>


    </div>
    <div class="row">
      <div class="col-12 ">
        <div class="row">
          <div class="row no-gutters ml-3 ml-sm-5  ">
            <div class="col-lg-5 col-10 one  mr-lg-0 ml-2  ">
              <a href="#slide2"> <span>KEY FEATURES</span></a>
            </div>

            <div class="col-lg-6 col-11  mr-lg-0 ml-2">
              <div class="row no-gutters">
                <div class="col-lg-5 col-11 two mr-0">
                  <a href="#slide3"> <span>GALLERY</span></a>
                </div>
                <div class="col-lg-5 col-11 three mr-0">
                  <a href="#slide4"> <span>SYSTEM REQUIREMENTS</span></a>
                </div>
              </div>
              <div class="row no-gutters">
                <div class="col-lg-5 col-11 four mr-0">
                  <a href="#slide5"> <span>ROADMAP</span> </a>
                </div>
                <div class="col-lg-5 col-11 five mr-0">
                  <a href="#slide6"> <span>BUY NOW</span></a>
                </div>
              </div>



            </div>

          </div>
        </div>
      </div>
    </div>


  </div>

  <div id="slide2">

    <h1>KEY FEATURES </h1>


    <div id="wall1">
      <div id="boiteskew1">
        <div id="cskew1">
          <h2 id="simu">
            REALISTIC SIMULATION</h2>

          <p>
            Assetto Corsa Competizione is designed to match the performance and driving experience of true Blancpain GT
            Series cars with a sophisticated mathematical model.</p>

        </div>
      </div>
    </div>

    <div id="wall2">
      <div id="boiteskew2">
        <div id="cskew2">
          <h2 id="visu">
            GRAPHICS / VISUAL EFFECTS</h2>
          <p>
            The Unreal Engine 4 guarantees a photorealistic rendering and an accurate representation of scenarios,
            materials
            cars and weather conditions. </p>

        </div>
      </div>
    </div>

    <div id="wall3">
      <div id="boiteskew3">
        <div id="cskew3">
          <h2 id="track">THE MOST ACCURATE TRACKS</h2>

          <p>
            Thanks to Laserscan technology, every official circuit is recreated with the utmost precision: all the turns
            and details perfectly match their actual version, providing an experience of game as close to reality as
            possible.</p>

        </div>
      </div>
    </div>

    <div id="wall4">
      <div id="boiteskew4">
        <div id="cskew4">
          <h2 id="exp">
            AN IMMERSIVE SOLO EXPERIENCE</h2>
          <p>
            Career, Championship and Free Play modes provide a complete and customizable gaming experience with
            tutorials and progressive help levels that will allow you to tailor opponent opponent AI and vehicle
            stability control to match your skills.</p>

        </div>
      </div>
    </div>
  </div>
  <div id="slide3">
    <h1>GALLERY</h1>


    <div class="accordion" id="accordion2">
      <div class="card">
        <div class="card-header galleryone" id="headingTen">
          <h2 class="mb-0">
            <button class="btn btn-link " type="button" data-toggle="collapse" data-target="#collapseTen"
              aria-expanded="true" aria-controls="collapseTen">
              Tracks
            </button>
          </h2>
        </div>

        <div id="collapseTen" class="collapse show" aria-labelledby="headingTen" data-parent="#accordion2">
          <div class="card-body">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link " type="button" data-toggle="collapse" data-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne" id="accordionExample">
                    Brands Hatch
                  </button>
                </h2>
              </div>

              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  <div class="row">

                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/BH02.jpg" data-lightbox="category-gallery"><img
                          src="/img/acc_img/images/gallery/BH02.jpg" alt="jpg" class="img-fluid"></a>
                    </div>
                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/BH04.jpg" data-lightbox="category-gallery"><img
                          src="/img/acc_img/images/gallery/BH04.jpg" alt="jpg" class="img-fluid"></a>
                    </div>
                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/BH05.jpg" data-lightbox="category-gallery"><img
                          src="/img/acc_img/images/gallery/BH05.jpg" alt="jpg" class="img-fluid"></a>

                    </div>

                  </div>
                  <div class="row">

                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/BH11.jpg" data-lightbox="category-gallery"><img
                          src="/img/acc_img/images/gallery/BH11.jpg" alt="jpg" class="img-fluid"></a>
                    </div>
                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/BH15.jpg" data-lightbox="category-gallery"><img
                          src="/img/acc_img/images/gallery/BH15.jpg" alt="jpg" class="img-fluid"></a>
                    </div>
                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/BH18.jpg" data-lightbox="category-gallery"><img
                          src="/img/acc_img/images/gallery/BH18.jpg" alt="jpg" class="img-fluid"></a>

                    </div>

                  </div>
                  <div class="row">

                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/BH19.jpg" data-lightbox="category-gallery"><img
                          src="/img/acc_img/images/gallery/BH19.jpg" alt="jpg" class="img-fluid"></a>
                    </div>
                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/BH29.jpg" data-lightbox="category-gallery"><img
                          src="/img/acc_img/images/gallery/BH29.jpg" alt="jpg" class="img-fluid"></a>
                    </div>
                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/BH38.jpg" data-lightbox="category-gallery"><img
                          src="/img/acc_img/images/gallery/BH38.jpg" alt="jpg" class="img-fluid"></a>

                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo" id="accordionExample">
                    Monza
                  </button>
                </h2>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                  <div class="row">

                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/MON01.jpg" data-lightbox="category-gallery"><img
                          src="/img/acc_img/images/gallery/MON01.jpg" alt="jpg" class="img-fluid"></a>
                    </div>
                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/MON02.jpg" data-lightbox="category-gallery"><img
                          src="/img/acc_img/images/gallery/MON02.jpg" alt="jpg" class="img-fluid"></a>
                    </div>
                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/MON03.jpg" data-lightbox="category-gallery"><img
                          src="/img/acc_img/images/gallery/MON03.jpg" alt="jpg" class="img-fluid"></a>

                    </div>

                  </div>
                  <div class="row">

                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/MON04.jpg" data-lightbox="category-gallery"><img
                          src="/img/acc_img/images/gallery/MON04.jpg" alt="jpg" class="img-fluid"></a>
                    </div>
                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/MON05.jpg" data-lightbox="category-gallery"><img
                          src="/img/acc_img/images/gallery/MON05.jpg" alt="jpg" class="img-fluid"></a>
                    </div>
                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/MON06.jpg" data-lightbox="category-gallery"><img
                          src="/img/acc_img/images/gallery/MON06.jpg" alt="jpg" class="img-fluid"></a>

                    </div>

                  </div>
                  <div class="row">

                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/MON07.jpg" data-lightbox="category-gallery"><img
                          src="/img/acc_img/images/gallery/MON07.jpg" alt="jpg" class="img-fluid"></a>
                    </div>
                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/MON08.jpg" data-lightbox="category-gallery"><img
                          src="/img/acc_img/images/gallery/MON08.jpg" alt="jpg" class="img-fluid"></a>
                    </div>
                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/MON09.jpg" data-lightbox="category-gallery"><img
                          src="/img/acc_img/images/gallery/MON09.jpg" alt="jpg" class="img-fluid"></a>

                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"
                    id="accordionExample">
                    Nurburgring GP
                  </button>
                </h2>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                  <div class="row">

                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/NUR01.jpg" data-lightbox="category-gallery"><img
                          src="/img/acc_img/images/gallery/NUR01.jpg" alt="jpg" class="img-fluid"></a>
                    </div>
                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/NUR02.jpg" data-lightbox="category-gallery"><img
                          src="/img/acc_img/images/gallery/NUR02.jpg" alt="jpg" class="img-fluid"></a>
                    </div>
                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/NUR03.jpg" data-lightbox="category-gallery"><img
                          src="/img/acc_img/images/gallery/NUR03.jpg" alt="jpg" class="img-fluid"></a>

                    </div>

                  </div>
                  <div class="row">

                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/NUR04.jpeg" data-lightbox="category-gallery"><img
                          src="/img/acc_img/images/gallery/NUR04.jpeg" alt="jpeg" class="img-fluid"></a>
                    </div>
                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/NUR05.png" data-lightbox="category-gallery"><img
                          src="/img/acc_img/images/gallery/NUR05.png" alt="png" class="img-fluid"></a>
                    </div>
                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/NUR06.png" data-lightbox="category-gallery"><img src="
                        /img/acc_img/images/gallery/NUR06.png" alt="png" class="img-fluid"></a>

                    </div>

                  </div>
                  <div class="row">

                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/NUR07.jpg" data-lightbox="category-gallery"><img src="
                        /img/acc_img/images/gallery/NUR07.jpg" alt="jpg" class="img-fluid"></a>
                    </div>
                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/NUR08.jpg" data-lightbox="category-gallery"><img src="
                        /img/acc_img/images/gallery/NUR08.jpg" alt="jpg" class="img-fluid"></a>
                    </div>
                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/NUR09.jpg" data-lightbox="category-gallery"><img src="
                        /img/acc_img/images/gallery/NUR09.jpg" alt="jpg" class="img-fluid"></a>

                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingFour">
                <h2 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour"
                    id="accordionExample">
                    Paul Ricard
                  </button>
                </h2>
              </div>
              <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body">
                  <div class="row">

                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/FRA01.jpg" data-lightbox="category-gallery"><img src="
                       /img/acc_img/images/gallery/FRA01.jpg" alt="jpg" class="img-fluid"></a>
                    </div>
                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/FRA02.jpg" data-lightbox="category-gallery"><img src="
                        /img/acc_img/images/gallery/FRA02.jpg" alt="jpg" class="img-fluid"></a>
                    </div>
                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/FRA03.jpg" data-lightbox="category-gallery"><img src="
                        /img/acc_img/images/gallery/FRA03.jpg" alt="jpg" class="img-fluid"></a>

                    </div>

                  </div>
                  <div class="row">

                    <div class="col-md-3 col-12">
                      <a href="/img/acc_/images/gallery/FRA04.jpg" data-lightbox="category-gallery"><img src="
                        /img/acc_img/images/gallery/FRA04.jpg" alt="jpg" class="img-fluid"></a>
                    </div>
                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/FRA05.jpg" data-lightbox="category-gallery"><img src="
                        /img/acc_img/images/gallery/FRA05.jpg" alt="jpg" class="img-fluid"></a>
                    </div>
                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/FRA06.jpg" data-lightbox="category-gallery"><img src="
                       /img/acc_img/images/gallery/FRA06.jpg" alt="jpg" class="img-fluid"></a>

                    </div>

                  </div>
                  <div class="row">

                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/FRA07.png" data-lightbox="category-gallery"><img src="
                       /img/acc_img/images/gallery/FRA07.png" alt="png" class="img-fluid"></a>
                    </div>
                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/FRA08.jpg" data-lightbox="category-gallery"><img src="
                        /img/acc_img/images/gallery/FRA08.jpg" alt="jpg" class="img-fluid"></a>
                    </div>
                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/FRA09.jpg" data-lightbox="category-gallery"><img src="
                        /img/acc_img/images/gallery/FRA09.jpg" alt="jpg" class="img-fluid"></a>

                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingFive">
                <h2 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive"
                    id="accordionExample">
                    Spa
                  </button>
                </h2>
              </div>
              <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                <div class="card-body">
                  <div class="row">

                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/SPA01.jpg" data-lightbox="category-gallery"><img src="
                        /img/acc_img/images/gallery/SPA01.jpg" alt="jpg" class="img-fluid"></a>
                    </div>
                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/SPA02.jpg" data-lightbox="category-gallery"><img src="
                        /img/acc_img/images/gallery/SPA02.jpg" alt="jpg" class="img-fluid"></a>
                    </div>
                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/SPA03.jpg" data-lightbox="category-gallery"><img src="
                        /img/acc_img/images/gallery/SPA03.jpg" alt="jpg" class="img-fluid"></a>

                    </div>

                  </div>
                  <div class="row">

                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/SPA04.jpg" data-lightbox="category-gallery"><img src="
                        /img/acc_img/images/gallery/SPA04.jpg" alt="jpg" class="img-fluid"></a>
                    </div>
                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/SPA05.jpg" data-lightbox="category-gallery"><img src="
                        /img/acc_img/images/gallery/SPA05.jpg" alt="jpg" class="img-fluid"></a>
                    </div>
                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/SPA06.jpg" data-lightbox="category-gallery"><img src="
                        /img/acc_img/images/gallery/SPA06.jpg" alt="jpg" class="img-fluid"></a>

                    </div>

                  </div>
                  <div class="row">

                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/SPA07.jpg" data-lightbox="category-gallery"><img src="
                        /img/acc_img/images/gallery/SPA07.jpg" alt="jpg" class="img-fluid"></a>
                    </div>
                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/SPA08.jpg" data-lightbox="category-gallery"><img src="
                        /img/acc_img/images/gallery/SPA08.jpg" alt="jpg" class="img-fluid"></a>
                    </div>
                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/SPA09.jpg" data-lightbox="category-gallery"><img src="
                        /img/acc_img/images/gallery/SPA09.jpg" alt="jpg" class="img-fluid"></a>

                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="accordion" id="accordion3">
      <div class="card">
        <div class="card-header" id="headingEleven">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseEleven"
              aria-expanded="true" aria-controls="collapseEleven">
              Cars
            </button>
          </h2>
        </div>

        <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordion3">
          <div class="card-body">
            <div class="card">
              <div class="card-header" id="headingSix">
                <h2 class="mb-0">
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSix"
                    aria-expanded="true" aria-controls="collapseSix" id="accordionExample">
                    Ferrari 488 GT3
                  </button>
                </h2>
              </div>

              <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                <div class="card-body">
                  <div class="row">

                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/FER01.jpg" data-lightbox="category-gallery"><img src="
                        /img/acc_img/images/gallery/FER01.jpg" alt="jpg" class="img-fluid"></a>
                    </div>
                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/FER02.jpg" data-lightbox="category-gallery"><img src="
                        /img/acc_img/images/gallery/FER02.jpg" alt="jpg" class="img-fluid"></a>
                    </div>
                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/FER03.jpg" data-lightbox="category-gallery"><img src="
                        /img/acc_img/images/gallery/FER03.jpg" alt="jpg" class="img-fluid"></a>

                    </div>

                  </div>
                  <div class="row">

                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/FER04.jpg" data-lightbox="category-gallery"><img src="
                        /img/acc_img/images/gallery/FER04.jpg" alt="jpg" class="img-fluid"></a>
                    </div>
                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/FER05.jpeg" data-lightbox="category-gallery"><img src="
                        /img/acc_img/images/gallery/FER05.jpeg" alt="jpeg" class="img-fluid"></a>
                    </div>
                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/FER06.jpg" data-lightbox="category-gallery"><img src="
                       /img/acc_img/images/gallery/FER06.jpg" alt="jpg" class="img-fluid"></a>

                    </div>

                  </div>
                  <div class="row">

                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/FER07.jpg" data-lightbox="category-gallery"><img src="
                        /img/acc_img/images/gallery/FER07.jpg" alt="jpg" class="img-fluid"></a>
                    </div>
                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/FER08.jpg" data-lightbox="category-gallery"><img src="
                        /img/acc_img/images/gallery/FER08.jpg" alt="jpg" class="img-fluid"></a>
                    </div>
                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/FER09.webp" data-lightbox="category-gallery"><img src="
                        /img/acc_img/images/gallery/FER09.webp" alt="webp" class="img-fluid"></a>

                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven"
                    id="accordionExample">
                    Lamborghini Huracan GT3
                  </button>
                </h2>
              </div>
              <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                <div class="card-body">
                  <div class="row">

                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/LAM01.jpg" data-lightbox="category-gallery"><img src="
                        /img/acc_img/images/gallery/LAM01.jpg" alt="jpg" class="img-fluid"></a>
                    </div>
                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/LAM02.jpg" data-lightbox="category-gallery"><img src="
                        /img/acc_img/images/gallery/LAM02.jpg" alt="jpg" class="img-fluid"></a>
                    </div>
                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/LAM03.jpg" data-lightbox="category-gallery"><img src="
                        /img/acc_img/images/gallery/LAM03.jpg" alt="jpg" class="img-fluid"></a>

                    </div>

                  </div>
                  <div class="row">

                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/LAM04.png" data-lightbox="category-gallery"><img src="
                        /img/acc_img/images/gallery/LAM04.png" alt="png" class="img-fluid"></a>
                    </div>
                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/LAM05.jpg" data-lightbox="category-gallery"><img src="
                        /img/acc_img/images/gallery/LAM05.jpg" alt="jpg" class="img-fluid"></a>
                    </div>
                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/LAM06.jpg" data-lightbox="category-gallery"><img src="
                        /img/acc_img/images/gallery/LAM06.jpg" alt="jpg" class="img-fluid"></a>

                    </div>

                  </div>
                  <div class="row">

                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/LAM07.jpg" data-lightbox="category-gallery"><img src="
                        /img/acc_img/images/gallery/LAM07.jpg" alt="jpg" class="img-fluid"></a>
                    </div>
                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/LAM09.jpg" data-lightbox="category-gallery"><img src="
                        /img/acc_img/images/gallery/LAM09.jpg" alt="jpg" class="img-fluid"></a>
                    </div>
                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/LAM09.png" data-lightbox="category-gallery"><img src="
                        /img/acc_img/images/gallery/LAM09.png" alt="" class="img-fluid"></a>

                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"
                    id="accordionExample">
                    Bentley Continental GT3
                  </button>
                </h2>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                  <div class="row">

                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/BEN01.jpg" data-lightbox="category-gallery"><img src="
                        /img/acc_img/images/gallery/BEN01.jpg" alt="jpg" class="img-fluid"></a>
                    </div>
                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/BEN02.jpg" data-lightbox="category-gallery"><img src="
                        /img/acc_img/images/gallery/BEN02.jpg" alt="jpg" class="img-fluid"></a>
                    </div>
                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/BEN03.jpg" data-lightbox="category-gallery"><img src="
                        /img/acc_img/images/gallery/BEN03.jpg" alt="jpg" class="img-fluid"></a>

                    </div>

                  </div>
                  <div class="row">

                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/BEN04.jpeg" data-lightbox="category-gallery"><img src="
                        /img/acc_img/images/gallery/BEN04.jpeg" alt="jpeg" class="img-fluid"></a>
                    </div>
                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/BEN05.jpg" data-lightbox="category-gallery"><img src="
                        /img/acc_img/images/gallery/BEN05.jpg" alt="jpg" class="img-fluid"></a>
                    </div>
                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/BEN06.jpg" data-lightbox="category-gallery"><img src="
                        /img/acc_img/images/gallery/BEN06.jpg" alt="jpg" class="img-fluid"></a>

                    </div>

                  </div>
                  <div class="row">

                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/BEN07.jpg" data-lightbox="category-gallery"><img src="
                        /img/acc_img/images/gallery/BEN07.jpg" alt="jpg" class="img-fluid"></a>
                    </div>
                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/BEN08.jpg" data-lightbox="category-gallery"><img src="
                        /img/acc_img/images/gallery/BEN08.jpg" alt="jpg" class="img-fluid"></a>
                    </div>
                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/BEN09.jpg" data-lightbox="category-gallery"><img src="
                        /img/acc_img/images/gallery/BEN09.jpg" alt="jpg" class="img-fluid"></a>

                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingFour">
                <h2 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour"
                    id="accordionExample">
                    BMW M6 GT3
                  </button>
                </h2>
              </div>
              <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body">
                  <div class="row">

                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/BMW01.jpg" data-lightbox="category-gallery"><img src="
                        /img/acc_img/images/gallery/BMW01.jpg" alt="jpg" class="img-fluid"></a>
                    </div>
                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/BMW02.jpg" data-lightbox="category-gallery"><img src="
                        /img/acc_img/images/gallery/BMW02.jpg" alt="jpg" class="img-fluid"></a>
                    </div>
                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/BMW03.jpg" data-lightbox="category-gallery"><img src="
                        /img/acc_img/images/gallery/BMW03.jpg" alt="jpg" class="img-fluid"></a>

                    </div>

                  </div>
                  <div class="row">

                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/BMW04.jpg" data-lightbox="category-gallery"><img src="
                        /img/acc_img/images/gallery/BMW04.jpg" alt="jpg" class="img-fluid"></a>
                    </div>
                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/BMW05.jpeg" data-lightbox="category-gallery"><img src="
                        /img/acc_img/images/gallery/BMW05.jpeg" alt="jpg" class="img-fluid"></a>
                    </div>
                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/BMW06.jpg" data-lightbox="category-gallery"><img src="
                        /img/acc_img/images/gallery/BMW06.jpg" alt="jpg" class="img-fluid"></a>

                    </div>

                  </div>
                  <div class="row">

                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/BMW07.jpg" data-lightbox="category-gallery"><img src="
                        /img/acc_img/images/gallery/BMW07.jpg" alt="jpg" class="img-fluid"></a>
                    </div>
                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/BMW08.png" data-lightbox="category-gallery"><img src="
                        /img/acc_img/images/gallery/BMW08.png" alt="png" class="img-fluid"></a>
                    </div>
                    <div class="col-md-3 col-12">
                      <a href="/img/acc_img/images/gallery/BMW09.jpg" data-lightbox="category-gallery"><img src="
                        /img/acc_img/images/gallery/BMW09.jpg" alt="jpg" class="img-fluid"></a>

                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div id="slide4">
    <h1>SYSTEM REQUIREMENTS</h1>
    <div id="block4"></div>
    <div id="block"></div>

    <div id="box">
      <div id="block2">

        <p><i> RECOMMENDED:</i> <br> <br>
          Requires a 64-bit processor and operating system <br>
          OS: Windows 10 64-bit<br>
          Processor: Intel Core i5-8600K or AMD Ryzen 5 2600X<br>
          Memory: 16 GB RAM<br>
          Graphics: GeForce GTX 1070 8 GB, Radeon RX 580 8GB<br>
          DirectX: Version 11<br>
          Storage: 50 GB available space<br>
          Sound Card: Integrated<br>
          Additional Notes: Game in Early Access, final Specs to be defined</p>



      </div>

      <div id="block3"></div>
      <div id="block1">
        <p><i> MINIMUM:</i> <br> <br>
          Requires a 64-bit processor and operating system <br>
          OS: Windows 7 64-bit Service Pack 1<br>
          Processor: Intel Core i5-4460 or AMD FX-8120<br>
          Memory: 4 GB RAM<br>
          Graphics: GeForce GTX 460 2GB, Radeon HD 7770<br>
          DirectX: Version 11<br>
          Storage: 50 GB available space<br>
          Sound Card: Integrated<br>
          Additional Notes: Game in Early Access, final Specs to be defined</p>



      </div>
    </div>

  </div>
  <div id="slide5">
    <h1>ROADMAP</h1>
    <div class="fond">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="main-timeline">
              <div class="timeline ">
                <div class="timeline-content">
                  <span class="timeline-year1">Sep. 12th - 2018</span>
                  <div class="time-line-icon-one  ">
                    <img src="img/images/1x/checkedFichier 3.png" alt="png">
                  </div>
                  <span class="content1">
                    <h3 class="title1">
                      Build 1
                    </h3>
                    <p class="description1">
                      Released Cars: Lamborghini Huracàn GT3 <br>
                      Released Tracks: Nurburgring GP <br>
                      Features: Special Events, Hotlap, Quick Race (AI) <br>
                      Rating System: Track Competence, Consistency, Car Control <br>
                    </p>
                  </span>
                </div>
              </div>
              <div class="timeline">
                <div class="timeline-content">
                  <span class="timeline-year2">Oct. 10th - 2018</span>
                  <div class="time-line-icon-two">
                    <img src="img/images/1x/checkedFichier 3.png" alt="png">
                  </div>
                  <span class="content2">
                    <h3 class="title2">
                      Build 2
                    </h3>
                    <p class="description2">
                      Released Cars: Bentley Continental GT3 <br>
                      Released Tracks: Misano World Circuit<br>
                      Features: Super Pole, VR Support, Basic Pit-Stop<br>
                      Rating System: Performance Rating, Safety Rating<br>
                    </p>
                  </span>
                </div>
              </div>
              <div class="timeline">
                <div  class="timeline-content">
                  <span class="timeline-year1">Nov. 14th - 2018</span>
                  <div class="time-line-icon-one">
                    <img src="img/images/1x/checkedFichier 3.png" alt="png">
                  </div>
                  <span class="content1">
                    <h3 class="title1">
                      Build 3
                    </h3>
                    <p class="description1">
                      Released Cars: BMW M6 GT3 <br>
                      Released Tracks: Circuit Paul Ricard<br>
                      Features: Endurance 3/6h, Multiplayer (Basic), Pit-Stop<br>
                      Rating System: Behavioural data analysis<br>
                    </p>
                  </span>
                </div>
              </div>
              <div class="timeline">
                <div class="timeline-content">
                  <span class="timeline-year2">Dec. 12th - 2018</span>
                  <div class="time-line-icon-two">
                    <img src="img/images/1x/checkedFichier 3.png" alt="png">
                  </div>
                  <span class="content4">
                    <h3 class="title4">
                      Build 4
                    </h3>
                    <p class="description4">
                      Released Cars: Ferrari 488 GT3 <br>
                      Released Tracks: Hungaroring<br>
                      Features: Spectator Mode<br>
                      Rating System: Driver Category, Overall Rating<br>
                    </p>
                  </span>
                </div>
              </div>
              <div class="timeline">
                <div  class="timeline-content">
                  <span class="timeline-year5">Jan. 16th - 2019</span>
                  <div class="time-line-icon-one">
                    <img src="img/images/1x/checkedFichier 3.png" alt="png">
                  </div>
                  <span class="content5">
                    <h3 class="title5">
                      Build 5
                    </h3>
                    <p class="description5">
                      Released Cars: Emil Frey Jaguar G3 <br>
                      Released Tracks: Circuit Zolder<br>
                      Features: /<br>
                      Rating System: System fine tuning<br>
                    </p>
                  </span>
                </div>
              </div>
              <div class="timeline">
                <div href="#" class="timeline-content">
                  <span class="timeline-year2">Feb. - 2019</span>
                  <div class="time-line-icon-two">
                    <img src="img/images/1x/checkedFichier 3.png" alt="png">
                  </div>
                  <span class="content2">
                    <h3 class="title2">
                      Build 6
                    </h3>
                    <p class="description2">
                      Released Cars: Nissan Nismo GT-R GT3 <br>
                      Released Tracks: Monza Eni Circuit<br>
                      Features: Live Special Events<br>
                      Rating System: System Fine Tuning<br>
                    </p>
                  </span>
                </div>
              </div>
              <div class="timeline">
                <div class="timeline-content">
                  <span class="timeline-year6">May. 29th - 2019</span>
                  <div class="time-line-icon-one">
                    <img src="img/images/1x/uncheckedFichier 3.png" alt="png">
                  </div>
                  <span class="content1">
                    <h3 class="title1">
                      Full Game
                    </h3>
                    <p class="description1">
                      All the Officially Licensed 2018 and 2019** Blancpain GT Series cars, teams and circuits. <br>
                      All game modes including: Career, Championship, Single and Multiplayer.<br>
                      Complete Rating and Matchmaking System.<br>
                    </p>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div id="slide5bis">
    <h1 id="road">ROADMAP</h1>
    <div class="build1">
    <div class="build"><h1>Build 1</h1></div> 
      <p>  Released Cars: Lamborghini Huracàn GT3 <br>
        Released Tracks: Nurburgring GP <br>
        Features: Special Events, Hotlap, Quick Race (AI) <br>
        Rating System: Track Competence, Consistency, Car Control <br>
      </p>
      <div class="date">Sep. 12th - 2018</div>
    </div>
    <div class="build2">
        <div class="build"><h1>Build 2</h1></div> 
      <p>   Released Cars: Bentley Continental GT3 <br>
        Released Tracks: Misano World Circuit<br>
        Features: Super Pole, VR Support, Basic Pit-Stop<br>
        Rating System: Performance Rating, Safety Rating<br>
      </p>
      <div class="date">Oct. 10th - 2018</div>
    </div>
    <div class="build3">
        <div class="build"><h1>Build 3</h1></div> 
      <p> Released Cars: BMW M6 GT3 <br>
        Released Tracks: Circuit Paul Ricard<br>
        Features: Endurance 3/6h, Multiplayer (Basic), Pit-Stop<br>
        Rating System: Behavioural data analysis<br>
      </p>
      <div class="date">Nov. 14th - 2018</div>
    </div>
    <div class="build4">
        <div class="build"><h1>Build 4</h1></div> 
      <p> Released Cars: Ferrari 488 GT3 <br>
        Released Tracks: Hungaroring<br>
        Features: Spectator Mode<br>
        Rating System: Driver Category, Overall Rating<br>
      </p>
      <div class="date">Dec. 12th - 2018</div>
    </div>
    <div class="build5">
        <div class="build"><h1>Build 5</h1></div> 
      <p> Released Cars: Emil Frey Jaguar G3 <br>
        Released Tracks: Circuit Zolder<br>
        Features: /<br>
        Rating System: System fine tuning<br>
      </p>
      <div class="date">Jan. 16th - 2019</div>
    </div>
    <div class="build6">
        <div class="build"><h1>Build 6</h1></div> 
      <p> Released Cars: Nissan Nismo GT-R GT3 <br>
                      Released Tracks: Monza Eni Circuit<br>
                      Features: Live Special Events<br>
                      Rating System: System Fine Tuning<br>
        </p>
        <div class="date">Sep. 12th - 2018</div>
      </div>
    <div class="build7">
        <div class="build"><h1>Full Game</h1></div> 
      <p>  All the Officially Licensed 2018 and 2019** Blancpain GT Series cars, teams and circuits. <br>
        All game modes including: Career, Championship, Single and Multiplayer.<br>
        Complete Rating and Matchmaking System.<br>
      </p>
      <div class="date">May. 29th - 2019</div>
    </div>
  
  </div>
  <div id="slide6">
    <h1>BUY NOW</h1>
    <div class="buynow1">
      <div class="row justify-content-between">

        <div class="col-lg-3 col-12"><a href="https://store.steampowered.com/app/805550/Assetto_Corsa_Competizione/"
            target="_blank">
            <div id="logosteam"></div>
          </a> </div>
        <div class="col-lg-8 col-12">
          <p>Assetto Corsa Competizione is the new official Blancpain GT Series videogame. Thanks to the extraordinary
            quality of simulation, the game will allow you to experience the real atmosphere of the FIA ​​GT3
            homologated championship, competing against official drivers, teams, cars and circuits.

          </p>
        </div>


      </div>

    </div>
  </div>
  <div id="footer">
    <div class="row">

      <div class="social col-md-6 col-8">

        <h1>FOLLOW US</h1>
        <span></span> <span> <a href="https://fr-fr.facebook.com/Assetto.Corsa/"> <i
              class="fab fa-facebook-square fa-3x"></i></a></span>
        <span> <a href="https://twitter.com/ac_assettocorsa?lang=fr" target="_blank"><i
              class="fab fa-twitter-square fa-3x"></i></a> </span>
        <span> <a href="https://www.instagram.com/assettocorsa/" target="_blank"><i
              class="fab fa-instagram fa-3x"></i></a></span>
        <span> <a href="https://www.youtube.com/channel/UCgrlBI6OzHgVA-iVupI4TuQ" target="_blank"><i
              class="fab fa-youtube fa-3x"></i></a></span>
      </div>
      <div class="thanks col-md-5 col-8">
        <h1>Thanks to :</h1>
        <br>
        <div class="row">



          <div class="col-6">

            <h2>Nathan C.</h2>
          </div>
          <div class="col-5 ">
            <p>Key features slide maker</p>
          </div>
        </div>
        <div class="row">

          <div class="col-6">

            <h2>Laurent C.</h2>
          </div>
          <div class="col-5">
            <p>1st slide responsive maker</p>
          </div>
        </div>

      </div>
      </div>
    </div>
  <div id="footerbis">
      <div class="row">
          <div class="socialbis col-12">

              <h1>FOLLOW US</h1>
              <span></span> <span> <a href="https://fr-fr.facebook.com/Assetto.Corsa/"> <i
                    class="fab fa-facebook-square fa-3x"></i></a></span>
              <span> <a href="https://twitter.com/ac_assettocorsa?lang=fr" target="_blank"><i
                    class="fab fa-twitter-square fa-3x"></i></a> </span>
              <span> <a href="https://www.instagram.com/assettocorsa/" target="_blank"><i
                    class="fab fa-instagram fa-3x"></i></a></span>
              <span> <a href="https://www.youtube.com/channel/UCgrlBI6OzHgVA-iVupI4TuQ" target="_blank"><i
                    class="fab fa-youtube fa-3x"></i></a></span>
            </div>
      </div>
      <div class="thanks col-12">
          <h1>Thanks to :</h1>
          <br>
          <div class="row">
  
  
  
            <div class="col-6">
  
              <h2>Nathan C.</h2>
            </div>
            <div class="col-5 ">
              <p>Key features slide maker</p>
            </div>
          </div>
          <div class="row">
  
            <div class="col-6">
  
              <h2>Laurent C.</h2>
            </div>
            <div class="col-5">
              <p>1st slide responsive maker</p>
            </div>
          </div>
  
        </div>
        </div>
 
    <script src="/js/acc.script.js"></script>
</body>

</html>