<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="/css/style.css">
          <link rel="stylesheet" href="/css/sal.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
                      <script src="/js/bootstrap.min.js"></script>
              <script src="/js/sal.js"></script>
              <script src="/js/sal.script.js"></script>
        <script>
  AOS.init();
</script>{% endblock %}
    </body>
</html>
