<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">


    <link rel="stylesheet" type="text/css" href="/css/cars.style.css">
    <title>Document</title>
</head>
<body>
    <div id="presentationlewis">

      <div id="bottashelmet"></div>
     
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
  
  <br>
  <br>
    
    <div class="container">
        <h1>Valtteri Bottas</h1>
        <br>

        <p>2013 : début en Formule 1 avec Williams</p>
        <p>2014 : premiers podiums en Formule 1</p>
        <p>2015-2016 : dernières saisons chez Williams</p>
        <p>2017 : transfert chez Mercedes</p>
        <p>2018 : saison difficile avec Mercedes</p>
        <p>2019 : victoire d'entrée</p>
        <br>
                <ul class="pager">
                     {% set url = path('mercedes_home') %}
                   <li><a href="{{ url }}">Previous</a></li>
                
              </ul>
    </div> </div>
</body>
</html>