<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">


    <link rel="stylesheet" type="text/css" href="/css/cars.style.css">
    <title>Document</title>
</head>
<body>
    <div id="presentationlewis">

      <div id="lewishelmet"></div>
     
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
  
  
    
    <div class="container">
        <h1>Lewis Hamilton</h1>
        <br>
        <p>2007 : première saison exceptionnelle en Formule 1 chez McLaren</p>
        <p>2008 : plus jeune champion du monde de l'histoire de la Formule 1</p>
        <p>2009 : impossibilité de lutter pour le titre</p>
        <p>2010 : retour à la compétitivité</p>
        <p>2011 : saison difficile chez McLaren-Mercedes</p>
        <p>2012 : dernière saison chez McLaren-Mercedes</p>
        <p>2013 : nouveau départ avec Mercedes</p>
        <p>2014 : double champion du monde</p>
        <p>2015 : triple champion du monde</p>
        <p>2016 : vice-champion du monde derrière son coéquipier Rosberg</p>
        <p>2017 : quadruple champion du monde</p>
        <p>2018 : quintuple champion du monde</p>
        <br>
                <ul class="pager">
                {% set url = path('mercedes_home') %}
                <li><a href="{{ url }}">Previous</a></li>
                
              </ul>
    </div> </div>
</body>
</html>